$padding: 5px;
$padding-large: 10px;

$margin: 5px;
$margin-large: 10px;

$responsive-width: 560px;

$font-family: 'Questrial', 'Arial';
$font-size: 16px;
$font-size-big: 20px;

$navbar-height: 40px;
