@import 'mixins';
@import 'variables';
@import 'mixins';

.dogtag {
  width: 230px;
  height: 120px;
  display: flex;
  font-size: $font-size;
  font-family: 'Fira Mono', monospace;
  margin: auto;

  .left-side, .right-side {
    width: 30px;
    margin: $margin-large;
    background: #C1BCBC;
    position: relative;
  }

  .left-side {
    border-top-left-radius: 1000%;
    border-bottom-left-radius: 1000%;
    margin-right: -26px;
    border-left: 2px groove #B9AEAE;
  }

  .right-side {
    border-top-right-radius: 1000%;
    border-bottom-right-radius: 1000%;
    margin-left: -26px;
    border-right: 2px groove #B9AEAE;
  }

  .hole {
    background: $light-gray !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 200;
    position: absolute;
    margin-top: 130%;
    border: 2px groove #B9AEAE;
  }

  .core {
    color: rgba($white, 0.7);
    background: #C1BCBC;
    padding: $padding-large 2 * $padding-large;
    border-radius: 25px;
    border-top: 2px groove #B9AEAE;
    border-bottom: 2px groove #B9AEAE;
    text-shadow: -1px 1px black;
    font-weight: 600;
    z-index: 100;

    .blood {
      margin-left: 35px;
    }
  }
}
