@import 'colors';
@import 'variables';
@import 'mixins';

.home {
  height: 100%;
  width: 100%;
  padding: 10% 15%;
  box-sizing: border-box;

  .container {
    width: 100%;
    margin-bottom: $margin-large * 2;
    position: relative;
  }

  .header {
    background: rgba($light-gray, 0.3);
    padding: $padding-large;
    cursor: default;

    @include unselect();

    .name {
      font-size: 3em;
      text-align: center;
    }

    .separator {
      border-color: $black;
    }

    .role {
      font-size: 2em;
      text-align: center;
    }
  }

  .sections {
    display: flex;
    position: relative;
    text-align: center;

    @include unselect();

    .section {
      color: $gray;
      background: $darker-gray;
      width: 25%;
      padding: $padding-large;
      margin: 0 $margin;
      box-sizing: border-box;

      &:hover {
        color: $white;
        background: $green;
        transition: all 0.15s ease-in-out;
        transform: scale(1.05);
        cursor: pointer;

        @include box-shadow(1px, 1px);
      }
    }
  }
}

@media screen and (max-width: $responsive-width) {

.home {
  padding: 10%;

  .container {
    margin-bottom: $margin-large;
  }

  .sections {
    display: block;

    .section {
      margin: $margin 0;
      width: 100%;
    }
  }
}

}
