@import 'variables';
@import 'colors';
@import 'mixins';

html, body {
  background: $light-gray;
  background: url(assets/background.jpg) no-repeat fixed center;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-width: 350px;
  margin: 0;
}

div[data-ui-view] {
  height: calc(100% - #{$navbar-height});
  width: 100%;
  overflow: auto;
}

.app {
  font-family: $font-family;
  font-size: $font-size;

  @import 'navbar';
  @import 'home';
  @import 'repo-info';
  @import 'dogtag';
}

@media screen and (max-width: $responsive-width) {

div[data-ui-view] {
  height: calc(100% - #{$navbar-height * 2});
}

}
