<div class="home">
  <div class="container">
    <div class="dogtag-container">
      <div data-dogtag
          data-name="RECUENCO, DAVID"
          data-country="SPAIN"
          data-blood="A POS"
          data-division="101D FRONTEND"
          data-regiment="506R ANGULAR"
          data-motto="SCRIPTING EAGLES">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="header">
      <div class="name">David Recuenco</div>
      <hr class="separator">
      <div class="role">Frontend Web Developer</div>
    </div>
  </div>

  <div class="container">
    <div class="sections">
      <div class="section"
          data-ui-sref="about">
        About
      </div>
      <div class="section"
          data-ui-sref="activity">
        Activity
      </div>
      <div class="section"
          data-ui-sref="portfolio">
        Portfolio
      </div>
      <div class="section"
          data-ui-sref="contact">
        Contact
      </div>
    </div>
  </div>
</div>
