<div class="activity">
  <div>
    <span>Media</span>
    <div>Twitter</div>
    <div>Betabeers</div>
  </div>
  <div>
    <span>Repositories</span>
    <div data-repo-info
        data-name="GitHub"
        data-repos="100"
        commits="1337">
    </div>
    <div data-repo-info
        data-name="Bitbucket"
        data-repos="50"
        data-commits="42">
    </div>
    <div data-repo-info
        data-name="GitLab"
        data-repos="2"
        data-commits="1">
    </div>
  </div>
</div>
