<div class="dogtag">
  <div class="left-side"></div>
  <div class="core">
    <div class="row">
      <span class="name">{{name}}</span>
    </div>
    <div class="row">
      <span class="country">{{country}}</span>
      <span class="blood">{{blood}}</span>
    </div>
    <div class="row">
      <span class="division">{{division}}</span>
    </div>
    <div class="row">
      <span class="regiment">{{regiment}}</span>
    </div>
    <div class="row">
      <span class="motto">{{motto}}</span>
    </div>
  </div>
  <div class="right-side">
    <div class="hole"></div>
  </div>
</div>
