<div class="navbar">
  <div class="header">David Recuenco</div>
  <div class="sections">
    <div class="section"
        data-ng-class="{
          active: isActive('home')
        }"
        data-ui-sref="home">
      Home
    </div>
    <div class="section"
        data-ng-class="{
          active: isActive('about')
        }"
        data-ui-sref="about">
      About
    </div>
    <div class="section"
        data-ng-class="{
          active: isActive('activity')
        }"
        data-ui-sref="activity">
      Activity
    </div>
    <div class="section"
        data-ng-class="{
          active: isActive('portfolio')
        }"
        data-ui-sref="portfolio">
      Portfolio
    </div>
    <div class="section"
        data-ng-class="{
          active: isActive('contact')
        }"
        data-ui-sref="contact">
      Contact
    </div>
  </div>
</div>
